# SQL repository
sqlalchemy==2.0.39
psycopg2==2.9.10

# Flask controller
flask==3.1.0

# Linters
ruff==0.9.10
wemake_python_styleguide==1.0.0

# Static analysis
pyright==1.1.400
mypy==1.15.0

# Tests
pytest==8.3.5
pytest_asyncio==0.25.3
requests==2.32.3
types_requests==2.32.0
